{if $pass}
{template 'header'}
<script type="text/javascript">
var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};
if(isIE) {
	document.write('<style type="text/css">');
	document.write("#cursor_a {cursor:url('{DT_SKIN}image/prev.cur'),default;}");
	document.write("#cursor_b {cursor:url('{DT_SKIN}image/next.cur'),default;}");
	document.write('</style>');
}
</script>
<div class="m" style="width: 1000px">
	<a name="p"></a>
	<div class="nav">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo;</div>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td valign="top" class="photo_l">
			<input id="destoon_previous" type="hidden" value="{$prev_photo}#p">
			<input id="destoon_next" type="hidden" value="{$next_photo}#p">
			<!--<div class="photo_info">
				<div class="photo_info_r"><span class="count_a">{$page}</span> <span class="count_b">/ {$items}</span></div>
				<div>
					<h1 class="title" id="title">{$title}</h1>
					日期：<span class="px11">{$adddate}</span>&nbsp;&nbsp;&nbsp;
					点击：<span id="hits" class="px11">{$hits}</span>&nbsp;&nbsp;&nbsp;
					<span onclick="View(Dd('destoon_photo').src);" class="c_p">查看原图</span>&nbsp;&nbsp;&nbsp;
					<span onclick="Go('{$MOD[linkurl]}{rewrite('view.php?itemid='.$itemid)}#p');" class="c_p">全部展开</span>
				</div>
			</div>-->
			<div class="b10"></div>
			<div id="photo">{template 'content', 'chip'}</div>
			{if $P[introduce]}<div class="photo_intro">{nl2br($P[introduce])}</div>{/if}
			<div class="b10"></div>
		</td>
	</tr>
	</table>
	<div style="position: relative">
		<div class="prevBtn"><a href="{$prev_photo}#p"><img src="{DT_SKIN}image/prevBtn.png" title="上一张"/></a></div>
		<div id="side">
			{if $user_status == 3}
			{php $action = 'side';}
			{template 'content', 'chip'}
			{php $action = '';}
			{else}
			<div style="height:200px;">&nbsp;</div>
			{/if}
		</div>
		<div class="nextBtn"><a href="{$next_photo}#p"><img src="{DT_SKIN}image/nextBtn.png" title="下一张"/></a></div>
	</div>
</div>

<div class="m" style="width: 1000px">
	<div class="b10">&nbsp;</div>
	<div class="play_info">
		<div id="play_action" class="play_action play_action_active">
			<div class="play_action_main">

				<div class="play_action_btn">
							<span class="playqh_nav">
								<div class="action_item action_info"> <a class="action_item_main"> <s class="action_icon"></s> <em class="action_icon_txt">简介</em> </a> </div>
							</span>
					<div id="action_item" class="action_item action_xiayiji"><a href="{$next_photo}#p" class="action_item_main"><s class="action_icon"></s><em class="action_icon_txt">下一图集</em></a></div>
					<div id="action_item" class="action_item action_xiayiji"><a href="{$prev_photo}#p" class="action_item_main"><s class="action_icon action_prev"></s><em class="action_icon_txt">上一图集</em></a></div>

				</div>
			</div>
			<span class="playqh_info">
				<div class="action_item_cnt detail_s1">
					<div class="detail_cnt">
						<div class="label_item intro_item">
							{if $CP}{template 'property', 'chip'}{/if}
							<div style="font-size: 15px;font-weight: bold">{$title}</div>
							<div class="content c_b" id="content">{$content}</div>
						</div>
					</div>
				</div>
			</span>
		</div>
	</div>
	<div class="play_side tab_vlist">
		<div class="playmod_hd">
			<div class="playmod_hd_tab">
				<ul class="tabs_nav"><li class="nav_item current"><h2><span>资讯点击排行</span></h2><span class="cur_arrow"></span></li></ul>
			</div>
		</div>
		<div class="playmod_bd">
			<div class="box_body" style="border: none">
				<div class="rank_list"><!--{tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=10&target=_blank")}--></div>
			</div>
		</div>
	</div>


</div>
<div class="m">
	<br/>
	<center>
	[ <a href="{$MOD[linkurl]}search.php" rel="nofollow">{$MOD[name]}搜索</a> ]&nbsp;
	[ <a href="javascript:SendFav();">加入收藏</a> ]&nbsp;
	[ <a href="javascript:SendPage();">告诉好友</a> ]&nbsp;
	[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
	[ <a href="javascript:window.close()">关闭窗口</a> ]
	</center>
	<br/>
</div>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
<script type="text/javascript">
window.onload = function() { try{Dd('cursor_a').style.height = Dd('cursor_b').style.height =  Dd('destoon_photo').height+'px';} catch(e) {} }
</script>
{template 'footer'}
{else}
<meta http-equiv="refresh" content="0;url={$MOD[linkurl]}private.php?itemid={$itemid}&page={$page}">
{/if}
