*{ margin:0; padding:0;}
html,body{ font-size:12px; font-family:"宋体",Arial,"微软雅黑";}
ul,li,dl,dt,dd,table,th,td,p{ list-style:none;}
table,th,td{ border-collapse:collapse;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
img{ border:none;}
em{ font-style:normal;}
input,textarea,select{ outline:none;}
.clear{ clear:both;}
.wrap{ width:980px; margin:0 auto;}
.yahei{ font-family:"微软雅黑";}
.heiti{ font-family:"黑体";}
.kaiti{ font-family:"楷体";}

/*清浮动*/
.clearfix:after{ content:""; display:block; clear:both;}
.clearfix{ zoom:1;}

.fl{ float:left;}
.fr{ float:right;}


.c_h1{ padding:1px; margin:0 0 10px 0;}
.c_h1 .con{ height:31px; border-bottom:#ccc solid 1px; position:relative;}
.c_h1 span{ position:absolute; left:0; top:0; width:86px; height:48px; line-height:30px; background:url(image/span_bg.png) no-repeat 0 0; text-align:center; color:#fff; font-size:14px; font-weight:bold;}
.c_h1 a{ position:absolute; right:12px; top:30%; color:#5b5b5b;}
.c_h2{ height:37px; margin:0 0 5px 0; overflow:hidden; line-height:37px; background:url(image/c_h2_bg.png) no-repeat 0 0;}
.c_h2 .span{ float:left; width:285px; height:37px; overflow:hidden; font-weight:bold;}
.c_h2 .span span{ float:left; width:87px; height:37px; text-align:center; font-size:14px; color:#fff; margin:0 10px 0 0;}
.c_h2 .span em{ float:left; text-transform:uppercase; color:#fff; font-weight:normal;}
.c_h2 .con{ float:left; width:671px; height:37px; padding:0 20px 0 0; text-align:right; overflow:hidden;}
.c_h2 .con a{ color:#333;}
.c_h2 .con a:hover{ color:red;}
.c_h2 .con em{ margin:0 10px;}

.c_con ul{ float:left;}
.c_con li{ float:left; width:100%; height:28px; line-height:28px; overflow:hidden;}
.c_con li a{ float:left; height:100%; overflow:hidden; color:#333;}
.c_con li a:hover{ color:#e4393c;}
.c_con li em{ float:right; overflow:hidden; _display:inline;}

.left_h1{ height:22px; line-height:22px; margin:0 0 12px 0; overflow:hidden;}
.left_h1 span{ float:left; width:80px; font-size:14px; font-weight:bold; color:#333; overflow:hidden;}
.left_h1 a{ float:right; color:#333;}

.tab_h1{ height:32px; border-top:#ccc solid 1px; border-bottom:#ccc solid 1px; font-size:14px; position:relative; background:url(image/h1_bg_88.png) repeat-x 0 0;}
.tab_h1 span{  position:absolute;  width:100px; height:34px; line-height:36px; text-align:center; font-size:14px; color:#346a7f; cursor:pointer;}
.tab_h1 span.span_1{ left:-1px;}
.tab_h1 span.span_2{ left:101px;}
.tab_h1 span.bg{ height:32px; line-height:32px; color:#e4393c; font-weight:bold; border-right:#ccc solid 1px; border-left:#ccc solid 1px;border-top:#00904a solid 2px;}


