{php $CSS = array('index');}
{template 'header22'}

<!-- 行业分类/最新公告/价格行情/市场动态 -->
<div class="cable_content">
    <div class="w1200">
        <div class="classify">
            <div class="classify_box">
                <div class="title">行业分类</div>
                <div class="list">
                    <ul>
                        {if $DT[page_catalog]}
                        {php $mid = 5;}
                        {php $child = get_maincat(0, $mid, 1);}
                        {loop $child $i $c}
                        {if $i<=12}
                        <li>
                            <a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" >{dsubstr($c[catname],9)}</a>
                        </li>
                        {/if}
                        {/loop}
                        {/if}
                    </ul>
                </div>
            </div>
            <div class="img"><a href="http://www.gjdlswpt.cn/know/show-17.html"><img src="{DT_SKIN}image/advert2.png" alt="" width="214" height="130" /></a></div>
        </div>
        <div class="notice">
            <div class="banner_box">
                <ul class="slideul">
                    <li><a href="http://www.gjdlswpt.cn/news/show-353.html"><img src="{DT_SKIN}image/banner01.png" alt="" width="645" height="320" /></a></li>
                    <li><a href="http://www.gjdlswpt.cn/news/show-473.html"><img src="{DT_SKIN}image/banner02.png" alt="" width="645" height="320" /></a></li>
                    <li><a href="http://www.gjdlswpt.cn/news/show-487.html"><img src="{DT_SKIN}image/banner03.png" alt="" width="645" height="320" /></a></li>
                </ul>
                <div class="slidelist">
                    <ul></ul>
                </div>
            </div>
            <div class="new_notice">
                <div class="title">
                    <h3>最新公告</h3>
                    <a href="http://www.gjdlswpt.cn/announce/">更多</a>
                </div>
                <ul>
                    <!--{php $tags=tag("table=announce&condition=1&pagesize=14&datetype=2&length=30&order=addtime desc&template=null");}-->
                    {loop $tags $i $t}
                    <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('m-d', $t[addtime])}</i></a></li>
                    {/loop}
                </ul>
            </div>
        </div>
        <div class="price_market">
            <div class="price">
                <div class="title">
                    <h3>价格行情</h3>
                    <a href="{$MODULE[7][linkurl]}">更多</a>
                </div>
                <div class="list">
                    <ul>
                        <!--{php $tags=tag("moduleid=7&condition=status=3&catid=53&areaid=$cityid&pagesize=8&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                        {loop $tags $i $t}
                        <li><a href="{$t[linkurl]}" {if $target} target="{$target}"{/if} title="{$t[alt]}"><span>{dsubstr($t[title], 50, '...')}</span><i>{date('m-d', $t[addtime])}</i></a></li>
                        {/loop}
                    </ul>
                </div>
            </div>
            <div class="market">
                <div class="title">
                    <h3>市场动态</h3>
                    <a href="{$MODULE[7][linkurl]}">更多</a>
                </div>
                <div class="list">
                    <ul>
                        <!--{php $tags=tag("moduleid=7&condition=status=3&catid=52&areaid=$cityid&pagesize=7&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                        {loop $tags $i $t}
                        <li><a href="{$t[linkurl]}" {if $target} target="{$target}"{/if} title="{$t[alt]}"><span>{$t[title]}</span><i>{date('m-d', $t[addtime])}</i></a></li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cable_advert">
    <div class="w1200">
        <div class="list_ten">
            <ul>
                <li><a href="http://www.gjdlswpt.cn/company/tumi/"><img src="{DT_SKIN}image/232_80_1.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://shop.gjdlswpt.com/"><img src="{DT_SKIN}image/232_80_2.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/sell/"><img src="{DT_SKIN}image/232_80_3.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://shop.gjdlswpt.com/index.php?act=goods&op=index&goods_id=100483"><img src="{DT_SKIN}image/232_80_4.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://shop.gjdlswpt.com/index.php?act=brand&op=index"><img src="{DT_SKIN}image/232_80_5.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/news/show-459.html"><img src="{DT_SKIN}image/232_80_6.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/company/"><img src="{DT_SKIN}image/232_80_7.png" alt="" width="232" height="80" /></a></li>
                <li><a href=" http://www.gjdlswpt.cn/announce/1.html"><img src="{DT_SKIN}image/232_80_8.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/announce/3.html"><img src="{DT_SKIN}image/232_80_9.png" alt="" width="232" height="80" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/sell/"><img src="{DT_SKIN}image/232_80_10.png" alt="" width="232" height="80" /></a></li>
            </ul>
        </div>
        <div class="list_two">
            <ul>
                <li><a href="http://www.gjdlswpt.cn/sell/list-78.html"><img src="{DT_SKIN}image/advert5.jpg" alt="" width="595" height="100" /></a></li>
                <li><a href="http://www.gjdlswpt.cn/photo/"><img src="{DT_SKIN}image/advert52.jpg" alt="" width="595" height="100" /></a></li>
            </ul>
        </div>
    </div>
</div>


<!-- 供应信息 -->
<div class="cable_supply_buy">
    <div class="w1200">
        <div class="common_title">
            <h2><span>供应信息</span><i>Provide information</i></h2>
            <a href="{$MODULE[5][linkurl]}">更多</a>
        </div>
        <div class="box">
            <div class="left">
                <div class="module1">
                    <div class="title">
                        <h4>电力电缆</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1 and thumb<>''&catid=75&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=75&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>

                <div class="module1">
                    <div class="title">
                        <h4>电线弱电</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1 and thumb<>''&catid=76&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=76&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="module2">
                    <div class="title">
                        <h4>橡套电缆</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=77&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module2" style="border-bottom:0">
                    <div class="title">
                        <h4>低烟无卤</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=78&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="module1">
                    <div class="title">
                        <h4>特种电缆</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1 and thumb<>''&catid=79&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=79&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>

                <div class="module1">
                    <div class="title">
                        <h4>电缆原料</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1 and thumb<>''&catid=81&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=5&condition=status=3&catid=81&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 产品展示 -->
<div class="cable_products">
    <div class="w1200">
        <div class="common_title">
            <h2><span>产品展示</span><i>Product display</i></h2>
            <a href="{$MODULE[5][linkurl]}">更多</a>
        </div>
        <div class="scroll">
            <ul>
                <li>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1&areaid=$cityid&pagesize=15&datetype=2&order=rand()desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="img"><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="212" height="150" alt=""></a></div>
                    {/loop}
                </li>
                <li>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1&areaid=$cityid&pagesize=15&datetype=2&order=rand()desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="img"><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="212" height="150" alt=""></a></div>
                    {/loop}
                </li>
                <li>
                    <!--{php $tags=tag("moduleid=5&condition=status=3 and level=1&areaid=$cityid&pagesize=15&datetype=2&order=rand()desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="img"><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="212" height="150" alt=""></a></div>
                    {/loop}
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- 求购信息 -->
<div class="cable_supply_buy">
    <div class="w1200">
        <div class="common_title">
            <h2><span>求购信息</span><i>Buying information</i></h2>
            <a href="{$MODULE[6][linkurl]}">更多</a>
        </div>
        <div class="box">
            <div class="left">
                <div class="module1">
                    <div class="title">
                        <h4>通信光缆</h4>
                        <a href="{$MODULE[6][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=6&condition=status=3 and level=1 and thumb<>''&catid=88&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=88&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module1">
                    <div class="title">
                        <h4>绝缘导线</h4>
                        <a href="{$MODULE[6][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=6&condition=status=3 and level=1 and thumb<>''&catid=90&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=90&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="module2">
                    <div class="title">
                        <h4>补偿导线</h4>
                        <a href="{$MODULE[5][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=95&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module2" style="border-bottom:0">
                    <div class="title">
                        <h4>电缆设备</h4>
                        <a href="{$MODULE[6][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=235&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>                  
                </div>
            </div>
            <div class="right">
                <div class="module1">
                    <div class="title">
                        <h4>同轴电缆</h4>
                        <a href="{$MODULE[6][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=6&condition=status=3 and level=1 and thumb<>''&catid=91&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=91&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module1">
                    <div class="title">
                        <h4>电缆附件</h4>
                        <a href="{$MODULE[6][linkurl]}">更多</a>
                    </div>
                    <!--{php $tags=tag("moduleid=6&condition=status=3 and level=1 and thumb<>''&catid=94&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <div class="module1_nav">
                        <a href="{$t[linkurl]}">
                            <div class="img"><img src="{$t[thumb]}" width="120" height="120" alt=""></div>
                            <div class="word">
                                <h3>{$t[title]}</h3>
                                <p>{dsubstr($t[introduce], 900, '...')}</p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=6&condition=status=3&catid=94&areaid=$cityid&pagesize=5&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cable_advert1">
    <div class="w1200">
        <a href="http://shop.gjdlswpt.com/"><img src="{DT_SKIN}image/advert6.png" width="1200" height="100" alt="{$t[title]}"></a>
    </div>
</div>
<!-- 推荐品牌/知名品牌/电缆知识 -->

<div class="cable_brand">
    <div class="w1200">
        <div class="brand">
            <div class="title">
                <ul>
                    <li class="active">推荐品牌</li>
                    <li>知名品牌</li>
                </ul>
                <a href="{$MODULE[13][linkurl]}">更多</a>
            </div>
            <div class="list">
                <ul>
                    <!--{php $tags=tag("moduleid=13&condition=status=3&catid=131&areaid=$cityid&pagesize=20&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <li>
                        <a href="{$t[linkurl]}">
                            <img src="{$t[thumb]}" width="140" height="50" alt="{$t[title]}">
                            <p>{$t[title]}</p>
                        </a>
                    </li>
                    {/loop}
                </ul>
            </div>
            <div class="list" style="display:none;">
                <ul>
                    <!--{php $tags=tag("moduleid=13&condition=status=3&catid=132&areaid=$cityid&pagesize=20&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <li>
                        <a href="{$t[linkurl]}">
                            <img src="{$t[thumb]}" width="140" height="50" alt="{$t[title]}">
                            <p>{$t[title]}</p>
                        </a>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
        <div class="know">
            <div class="title">
                <h4>电缆知识</h4>
                <a href="{$MODULE[10][linkurl]}">更多</a>
            </div>
            <div class="list">
                <ul>
                    <!--{php $tags=tag("moduleid=10&condition=status=3&areaid=$cityid&pagesize=7&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                    {/loop}
                </ul>
            </div>
            <div class="advert">
                <a href="http://www.gjdlswpt.cn/sitemap/"><img src="{DT_SKIN}image/advert6.jpg" width="344" height="168" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="cable_advert1">
    <div class="w1200">
        <a href="http://www.gjdlswpt.cn/invest/"><img src="{DT_SKIN}image/advert3.png" width="1200" height="100" alt=""></a>
    </div>
</div>


<!-- 咨询信息 -->
<div class="cable_infor">
    <div class="w1200">
        <div class="common_title">
            <h2><span>资讯信息</span><i>Information information</i></h2>
            <a href="{$MODULE[21][linkurl]}">更多</a>
        </div>
        <div class="box">
            <div class="left">
                <div class="module1">
                    <div class="title">
                        <h4>企业新闻</h4>
                        <a href="{$MODULE[21][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=21&condition=status=3&catid=113&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module1" style="border-top:solid 1px #ccc;">
                    <div class="title">
                        <h4>技术资讯</h4>
                        <a href="{$MODULE[21][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=21&condition=status=3&catid=114&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="module2">
                    <div class="module2_title">
                        <h4>行情报价</h4>
                        <a href="{$MODULE[7][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <table cellpadding="0" cellspacing="0" width="100%" border="0">
                            <thead>
                            <tr>
                                <td width="240">产品名称</td>
                                <td width="160">最新价格</td>
                                <td>报价数</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!--{php $tags=tag("table=quote_product&condition=1&areaid=$cityid&pagesize=8&order=edittime desc&length=16&template=null");}-->
                            {loop $tags $i $t}
                            <tr>
                                <td><a href="{$MOD[linkurl]}{rewrite('quote/price.php?itemid='.$t['itemid'])}" target="_blank" title="{$t[alt]}">{$t[title]}</a></td>
                                <td>{$t[price]}元/{$t[unit]}</td>
                                <td>{$t[item]}</td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                        <div class="module1" style="border-top:solid 1px #ccc;">
                            <div class="title">
                                <h4>资讯排行</h4>
                                <a href="{$MODULE[21][linkurl]}">更多</a>
                            </div>
                            <div class="list">
                                <ul>
                                    <!--{php $tags=tag("moduleid=21&condition=status=3&&areaid=$cityid&pagesize=9&datetype=2&order=hits desc&target=_blank&template=null")}-->
                                    {loop $tags $i $t}
                                    <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                                    {/loop}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="module1">
                    <div class="title">
                        <h4>政策法规</h4>
                        <a href="{$MODULE[21][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=21&condition=status=3&catid=115&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="module1" style="border-top:solid 1px #ccc;">
                    <div class="title">
                        <h4>综合报道</h4>
                        <a href="{$MODULE[21][linkurl]}">更多</a>
                    </div>
                    <div class="list">
                        <ul>
                            <!--{php $tags=tag("moduleid=21&condition=status=3&catid=116&areaid=$cityid&pagesize=9&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                            {loop $tags $i $t}
                            <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cable_advert1">
    <div class="w1200">
        <a href="http://shop.gjdlswpt.com/"><img src="{DT_SKIN}image/advert4.png" width="1200" height="100" alt=""></a>
    </div>
</div>


<!-- 热门招商/招聘信息/求职信息/展会信息 -->
<div class="cable_for">
    <div class="w1200">
        <div class="left">
            <div class="module">
                <div class="title">
                    <h4>热门招商</h4>
                    <a href="{$MODULE[22][linkurl]}">更多</a>
                </div>
                <div class="advert">
                    <!--{php $tags=tag("moduleid=22&condition=status=3 and level=1 and thumb<>''&areaid=$cityid&pagesize=1&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                    {loop $tags $i $t}
                    <a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="290" height="180" alt="{$t[title]}"></a>
                    {/loop}
                </div>
                <div class="list">
                    <ul>
                        <!--{php $tags=tag("moduleid=22&condition=status=3&areaid=$cityid&pagesize=6&datetype=2&order=addtime desc&target=_blank&template=null")}-->
                        {loop $tags $i $t}
                        <li><a  href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="title">
                <ul>
                    <li class="active">招聘信息</li>
                    <li>求职信息</li>
                </ul>
                <a href="{$MODULE[9][linkurl]}">更多</a>
            </div>
            <div class="table">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="center" width="120">职位</td>
                        <td align="center" width="240">公司</td>
                        <td align="center" width="130">薪资</td>
                        <td align="center" width="110">地区</td>
                    </tr>
                    <!--{php $tags=tag("moduleid=9&condition=status=3 and level>0&pagesize=11&length=30&order=edittime desc&template=null");}-->
                    {loop $tags $i $t}
                    <tr>
                        <td align="left"><a href="{$t[linkurl]}">{$t[title]}</a></td>
                        <td align="center"><a href="{$t[linkurl]}">{$t[company]}</a></td>
                        <td align="center">
                            {if $t[minsalary] && $t[maxsalary]}
                            {$t[minsalary]}-{$t[maxsalary]}{$DT[money_unit]}/月
                            {elseif $t[minsalary]}
                            {$t[minsalary]}{$DT[money_unit]}/月以上
                            {elseif $t[maxsalary]}
                            {$t[maxsalary]}{$DT[money_unit]}/月以内
                            {else}
                            面议
                            {/if}
                        </td>
                        <td align="center">{area_pos($t[areaid], '', 1)}</td>
                    </tr>
                    {/loop}
                </table>
            </div>
            <div class="table" style="display:none;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="center" width="250">职位</td>
                        <td align="center" width="200">工作经验</td>
                        <td align="center" width="130">期望薪资</td>
                    </tr>
                    <!--{php $tags=tag("moduleid=9&table=resume&condition=status=3&areaid=$cityid&order=hits desc&pagesize=11&template=null");}-->
                    {loop $tags $i $t}
                    <tr>
                        <td width="250"><a href="{$t[linkurl]}">{$t[title]}</a></td>
                        <td align="center" width="200">{if $t[experience]}{$t[experience]}年经验{else}无工作经验{/if}</td>
                        <td width="130">
                            {if $t[minsalary] && $t[maxsalary]}
                            {$t[minsalary]}-{$t[maxsalary]}{$DT[money_unit]}/月
                            {elseif $t[minsalary]}
                            {$t[minsalary]}{$DT[money_unit]}/月以上
                            {elseif $t[maxsalary]}
                            {$t[maxsalary]}{$DT[money_unit]}/月以内
                            {else}
                            面议
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                </table>
            </div>
        </div>
        <div class="right">
            <div class="module">
                <div class="title">
                    <h4>展会信息</h4>
                    <a href="javascript:void(0)">更多</a>
                </div>
                <div class="advert">
                    <!--{php $tags=tag("moduleid=8&condition=status=3 and thumb<>''&areaid=$cityid&order=hits desc&pagesize=1&template=null");}-->
                    {loop $tags $i $t}
                    <a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="290" height="180" alt="{$t[title]}"></a>
                    {/loop}
                </div>
                <div class="list">
                    <ul>
                        <!--{php $tags=tag("moduleid=8&condition=status=3&areaid=$cityid&order=hits desc&pagesize=6&template=null");}-->
                        {loop $tags $i $t}
                        <li><a href="{$t[linkurl]}"><span>{$t[title]}</span><i>{date('Y-m-d', $t[addtime])}</i></a></li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 友情链接 -->
<div class="cable_link">
    <div class="cable_link_box clear">
        <div class="cable_link_left">
            <dl>
                <dt>友情链接</dt>
                <dd>LINKS</dd>
            </dl>
        </div>
        <div class="cable_link_right">
            <ul class="clear">
                {if $DT[page_text]}
                <!--{php $tags=tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=21&order=listorder desc,itemid desc&template=null")}-->
                {loop $tags $i $t}
                <li><a href="{$t[linkurl]}" target="_blank" rel="nofollow">{$t[title]}</a></li>
                {/loop}
                {/if}
            </ul>
        </div>
    </div>
</div>




{template 'footer'}